.row {
    display: flex;
    justify-content: space-evenly;
}

.firstColumn {
    width: 30%;
}

.secondColumn {
    width: 30%;
}

form {
    text-align: center;
}

.error {
    display: flex;
    width: 60%;
    justify-content: center;
    background-color: #F08080;
    border-radius: 6px;
    margin: 1% 20% 1% 20%;
    font-size: 18px;
}