.calculator {
    display: flex;
    justify-content: center;
}

.counter {
    display: flex;
    flex-direction: column;
    width: 60%;
}

@media (max-width: 1020px) {
    .calculator {
        flex-direction: column;
    }
    .counter {
        width: 100%;
    }
}